@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Colors */

    /* Primary */

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);


    /* Neutral */

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* Font style */
    --font-family-default: 'Poppins', sans-serif;

    /* Font Sizes */
    --fs-paragraph: 0.9375rem;
    --fs-body: 0.9375rem;
    --fs-heading1: 2rem;
    --fs-heading2: 1.25rem;


    /* Font weights/boldness */
    --fw-bolder: 600;
    --fw-bold: 400;
    --fw-normal: 200;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
    font-family: var(--font-family-default);
    font-weight: var(--fw-normal);
    font-size: var(--fs-body);
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
p {
    font-size: var(--fs-paragraph);
    color: var(--Grayish-Blue);
    font-weight: var(--fw-bold);
}

.ht-100 {
    min-height: 100vh;
}

.flex-container {
    display: flex;
}

.flex-container-in-center {
    justify-content: center;
    align-items: center;

}

.flex-direction-column {
    flex-direction: column;
}

main {
    row-gap: 3rem;
}

.card {
    padding: 2rem;
    max-width: 366px;
    box-shadow: 0px 13px 30px 13px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.card img {
    float: right;
}

.card h2 {
    color: var(--Very-Dark-Blue);
    font-size: var(--fs-heading2);
    font-weight: var(--fw-bolder);
    margin-bottom: .75rem;
}

.card p {
    margin-bottom: 3.5rem;
}

.cards {
    column-gap: 2rem;
}

.middle-stack {
    row-gap: 1.5rem;
}

.supervisor {
    border-top: 5px solid var(--Cyan);
    overflow: hidden;
}

.team-builder {
    border-top: 5px solid var(--Red);
    overflow: hidden;
}
.karma {
    border-top: 5px solid var(--Orange);
    overflow: hidden;
}

.calculator {
    border-top: 5px solid var(--Blue);
    overflow: hidden;
}

header {
    max-width: 570px;
    text-align: center;
    padding: 2rem;
}

header p {
    margin-top: 1.5rem;
}

h1, h1 span {
    font-size: var(--fs-heading1);
    color: var(--Very-Dark-Blue);
}

h1 span {
    font-weight: var(--fw-bolder);
}

@media (max-width: 768px) {
    /* CSS for screens smaller than or equal to 768px (mobile and small tablets) */
    .cards {
        flex-direction: column;
        row-gap: 1.5rem;
    }
  }
  